/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
/*
body {
	width:1200px;
}
*/
.container {
	overflow: hidden;
	display: block;
	max-width: 950px;
	margin: 0 auto;
	background-color: #CE9333;
}

.sidebar {
	position: fixed;
	height: 70px;
	width: 200px;
	padding: 20px 40px;
	right: 0;
	top: 0;
}

.content, .sidebar {
	font-family: georgia;
	font-size: 16px, 24px;
	line-height: 1.5;
}

.content {
	display: block;
	float: left;
	margin: 0 auto;
	margin-right: 350px;
	max-width: 950px;
	padding: 20px;
	border-right: solid silver 1px
}

.sidebar {
	display: block;
	background-color: #666;
	color: #FFF;
}